FORMAT: 1A
HOST: http://www.google.com

# Publero API

#### Authorization
To authenticate against the API, client must provide access token in 1 of 3 ways:

- `Authorization` HTTP header in form `Authorization: Token {token}`

- `access_token` query parameter

- `access_token` POST parameter - only for `application/x-www-form-urlencoded` request

Authorization HTTP header is the preferred option.

If authorization fails, status code 403 (Forbidden) is returned automatically with the following response:

```json
{
    "code":403,
    "message":"Access Denied",
     "errors":null
}
```

#### Request fail

If the call was unsuccessful it will return status code 400 (Bad request) and response containing fields (error response):

 - `code` - status code
 
 - `message` - error message (e.g. "Validation Failed")
 
 - `errors` - list of errors


# Group Admin - Publisher
Publisher related links

## Publisher Collection [/admin/publisher]

### List of All Publishers [GET]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 200 (application/json)

        [
            {
                "name": "Publisher 1",
                "description": "Publisher 1 description",
                "contacts": [
                    {
                        "type": "email",
                        "title": "Personal email",
                        "description": "Email description",
                        "body": "some_email@example.com"
                    },
                    {
                        "type": "address",
                        "title": "Home Address",
                        "description": "Address description",
                        "body": "Some Street 5554, 555 21 Some City"
                    }
                ]
            },
            {
                "name": "Publisher 2",
                "description": "Publisher 2 description",
                "contacts": [
                    {
                        "type": "email",
                        "title": "Personal email",
                        "description": "Email description",
                        "body": "some_email@example.com"
                    },
                    {
                        "type": "address",
                        "title": "Home Address",
                        "description": "Address description",
                        "body": "Some Street 5554, 555 21 Some City"
                    }
                ]
            }
        ]

### Create Publisher [POST]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
        
    + Body
        
                {
                    "name": "Publisher 1",
                    "description": "Publisher 1 description",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ]
                }

+ Response 201 (application/json)

        {
          "id": 1,
          "uri": "/publisher/1"
        }
        
## Publisher [/admin/publisher/{id}]        
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Publisher to perform action with. Has example value.

### Read [GET]
+ Request

    + Header
    
                Authorization: Token {token}
        
+ Response 200 (application/json)

        {
            "name": "Publisher 1",
            "description": "Publisher 1 description",
            "contacts": [
                {
                    "type": "email",
                    "title": "Personal email",
                    "description": "Email description",
                    "body": "some_email@example.com"
                },
                {
                    "type": "address",
                    "title": "Home Address",
                    "description": "Address description",
                    "body": "Some Street 5554, 555 21 Some City"
                }
            ]

        }
        
### Full Update [PUT]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
                
    + Body
    
                {
                    "name": "Publisher 1",
                    "description": "Publisher 1 description",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ]
                }    
                
+ Response 204


### Partial Update [PATCH]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
            
    + Body
    
                {
                    "name": "Publisher 1",
                    "description": "Publisher 1 description",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ]
                }    

+ Response 204

        
### Delete [DELETE]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 204

# Group Admin - Seller
Seller related links

## Seller Collection [/admin/seller]

### List of All Sellers [GET]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 200 (application/json)

        [
            {
                "name": "seller 1",
                "contacts": [
                    {
                        "type": "email",
                        "title": "Personal email",
                        "description": "Email description",
                        "body": "some_email@example.com"
                    },
                    {
                        "type": "address",
                        "title": "Home Address",
                        "description": "Address description",
                        "body": "Some Street 5554, 555 21 Some City"
                    }
                ],
                "identification": "11111111",
                "vatNumber": "CZ11111111"
            },
            {
                "name": "seller 2",
                "contacts": [
                    {
                        "type": "email",
                        "title": "Personal email",
                        "description": "Email description",
                        "body": "some_email@example.com"
                    },
                    {
                        "type": "address",
                        "title": "Home Address",
                        "description": "Address description",
                        "body": "Some Street 5554, 555 21 Some City"
                    }
                ],
                "identification": "22222222
                "vatNumber": "CZ22222222"
            }
        ]

### Create Seller [POST]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
        
    + Body
        
                {
                    "name": "Seller 1",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ],
                    "identification": "11111111",
                    "vatNumber": "CZ11111111"
                }

+ Response 201 (application/json)

        {
          "id": 1,
          "uri": "/seller/1"
        }
        
## Seller [/admin/seller/{id}]        
+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the seller to perform action with. Has example value.

### Read [GET]
+ Request

    + Header
    
                Authorization: Token {token}
        
+ Response 200 (application/json)

        {
            "name": "Seller 1",
            "contacts": [
                {
                    "type": "email",
                    "title": "Personal email",
                    "description": "Email description",
                    "body": "some_email@example.com"
                },
                {
                    "type": "address",
                    "title": "Home Address",
                    "description": "Address description",
                    "body": "Some Street 5554, 555 21 Some City"
                }
            ],
            "identification": "11111111",
            "vatNumber": "CZ11111111"
        }
        
### Full Update [PUT]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
                
    + Body

                {
                    "name": "Seller 1",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ],
                    "identification": "11111111",
                    "vatNumber": "CZ11111111"
                }

+ Response 204


### Partial Update [PATCH]
+ Request (application/json)

    + Header
    
                Authorization: Token {token}
                
    + Body
    
                {
                    "name": "Seller 1",
                    "contacts": [
                        {
                            "type": "email",
                            "title": "Personal email",
                            "description": "Email description",
                            "body": "some_email@example.com"
                        },
                        {
                            "type": "address",
                            "title": "Home Address",
                            "description": "Address description",
                            "body": "Some Street 5554, 555 21 Some City"
                        }
                    ],
                    "identification": "11111111",
                    "vatNumber": "CZ11111111"
                }

+ Response 204

        
### Delete [DELETE]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 204

# Group Admin - Document
Document links

## Document API [/admin/document/{id}]

### Retrieve document [GET]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 200 (application/octet-stream)

    + Body

                {binary_data}
                
# Group User - Library
Document links

## Document API [/user/library]

### Retrieve user library [GET]
+ Request

    + Header
    
                Authorization: Token {token}

+ Response 200 (application/json)

    + Body

                [
                    {
                        "id": "1",
                        "name": "Product 1",
                        "slug": "product_1",
                        "imageUrl": "/product/image/1",
                        "prices": [],
                        "packages": [],
                        "productType": "article",
                        "perex": "Article 1 Perex",
                        "author": { "id": "1", "uri": "/user/1" }
                    },
                    {
                        "id": "2",
                        "name": "Product 2",
                        "slug": "product_2",
                        "imageUrl": "",
                        "prices": "",
                        "packages": "",
                        "productType": "attachment",
                        "free": "",
                        "issue": "",
                        "groupItem": ""
                    },
                    {
                        "id": "3",
                        "name": "Product 3",
                        "slug": "product_3",
                        "imageUrl": "",
                        "prices": "",
                        "packages": "",
                        "productType": "issue",
                        "publishedAt": "",
                        "autopublish": "",
                        "free": "",
                        "printable": "",
                        "downloadable": "",
                        "identification": "",
                        "attachments": "",
                        "publisher": "",
                        "title": "",
                        "slug": ""
                    },
                    {
                        "id": "4",
                        "name": "Product 4",
                        "slug": "product_4",
                        "imageUrl": "",
                        "prices": "",
                        "packages": "",
                        "productType": "UserDocument",
                        "owner": "",
                        "private": ""           
                    }
                ]
